In [1]:
print("oke")

oke

In [3]:
print(type("oke"))

<class 'str'>

In [6]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [8]:
n =300
print(n)
n

300

300

In [9]:
n = 1000 
print(n)

1000

In [10]:
a=b=c=300
print(a,b,c)

300 300 300

In [12]:
#tipevariabel di py

var = 23.5
print(var)

var ="sekarang saya string"
print(var)

23.5
sekarang saya string

In [13]:
#nama variable bisa huruf beasr dan kecil 

name = "oke"
age = 50
has_laptops = True
print(name, age, has_laptops)

oke 50 True

In [14]:
9_kepala_naga = True  #bakal error karena taruh angka didepan nama

SyntaxError: invalid token (<ipython-input-14-737512de54da>, line 1)

In [15]:
a = 10
b = 20
a+b

30

In [16]:
a+b-5

25

In [18]:
a =4
b= 3
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a**b)

7
1
12
1
64

In [29]:
#operator komparasi 
a = 10
b = 20 

print(a == b)
print(a!=b)
print(a<= b) 
print(a>=b)

a =20
b = 20 
print(a == b)
print(a<= b) 
print(a>=b)
print('alhamdulillah hasinya adalah ', a>=b)

False
True
True
False
True
True
True
alhamdulillah hasinya adalah  True

In [28]:
#string manipulation, ubah isi kalimat dalam sebauh variabel 

s = 'foo'
t = 'bar'
u = 'baz'

print(s+t)
print(s+t+u)
print('oke ' + '12')

foobar
foobarbaz
oke 12

In [31]:
s ='oke.'
s*4

'oke.oke.oke.oke.'

In [32]:
#fungsi in 
s ='foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [46]:
#case conversion
s ='okedeh'

#capitalize
print(s.capitalize())

#lower
print(s.lower())

#swapcase
print(s.swapcase())

#Title
print(s.title())

#uppercase
print(s.Upper())

Okedeh
okedeh
OKEDEH
Okedeh

AttributeError: 'str' object has no attribute 'Upper'

In [39]:
#list adalah tersusun 

a = ['foo','bar','baz','qux']
b = ['qux','bar','baz','foo']

a==b

False

In [44]:
#list dapat berupa gabungan angka dan string 

list = ['oke',12.5, False, 'mantap']
print(list)

['oke', 12.5, False, 'mantap']

In [49]:
a = ['foo','bar','baz','qux']
#start dari nol kiri kekanan 
print(a[0])
print(a[1])
print(a[2])
print(a[3])

#kalau minus dari kanan kekiri
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])

foo
bar
baz
qux
qux
baz
bar
foo

In [50]:
a = [ 1,2,3,4,5]
a[2:5]

[3, 4, 5]

In [57]:
#menambahkan isi list
print(a+[6,7,'okee'])

[1, 2, 3, 4, 5, 6, 7, 'okee', 6, 7, 'okee']

In [63]:
a = [ '1a','2a','3a','4a','oke']
b = [ 10,2,3,4,5]
print(a)
print(len(a))
print(min(a))
print(max(a))

print(b)
print(len(b))
print(min(b))
print(max(b))

['1a', '2a', '3a', '4a', 'oke']
5
1a
oke
[10, 2, 3, 4, 5]
5
2
10

In [69]:
a= ['foo','bar','baz','qux','quux','corge']

a[2] = 10
a[-1] = 20

print(a) #baz bakal berubah jadi 10 , crge bakal berubahjadi 20
a

['foo', 'bar', 10, 'qux', 'quux', 20]

['foo', 'bar', 10, 'qux', 'quux', 20]

In [76]:
del a[-2] #hapus quux

In [77]:
a

['foo', 'bar', 10, 'qux', 20]

In [79]:
a= ['foo','bar','baz','qux','quux','corge']
print(a[1:4])

a[1:4] =[1.1,1.2,1.3,1.4]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 1.2, 1.3, 1.4, 'quux', 'corge']

In [80]:
#tuple
t= ['foo','bar','baz','qux','quux','corge']
print(t[0])
print(t[-1])

foo
corge

In [82]:
#packing dan unpacking , mendefinisikan variable sekaligus di 1 tempat 
(s1,s2,s3,s4) = ('foo','bar','baz','qux')
s1

'foo'

In [ ]:
#python dictionary bikin dictionary yang bisa dipanggil pasangannya , nanti copas aja di modul

In [83]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [84]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto']

Twins
Rockies

In [85]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [86]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [87]:
{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [88]:

# To delete an entry, use the del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [89]:
{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [90]:
#Building a Dictionary Incrementally Mendefinisikan dictionary menggunakan tanda kurung kurawal dan key-value pairs, seperti yang ditunjukkan di atas, tidak masalah jika kalian mengetahui semua kunci dan nilai sebelumnya. Tetapi bagaimana jika kalian ingin membuat dictionary sambil jalan?Kalian bisa mulai dengan membuat dictionary kosong, yang ditentukan dengan tanda kurung kurawal kosong. Kemudian kalian dapat menambahkan kunci dan nilai baru satu per satu:

person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [91]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [92]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [93]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [94]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [95]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [97]:
#Line Continuation

#Misalkan satu pernyataan dalam kode Python kalian sangat panjang. Misalnya, kalian mungkin memiliki assignment statement dengan banyak terms:

person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [98]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True